/* Custom scrollbar styles */
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: blue transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }