

.feed-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Changed from 100% to 100vh to ensure it covers the full viewport height */
  padding: 20px;
  box-sizing: border-box;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.home-button, .welcome-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.feeds {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.feed-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #444, #999);
  padding: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 5px;
  width: 80%;
  height: 10%;
  text-align: center;
}

.feed-box:hover {
  background: linear-gradient(to right, #555, #aaa);
}

.add-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: linear-gradient(to right, #444, #999);
  padding: 15px;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto; /* Center the container */
}

.add-topic input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #555;
  color: white;
}

.add-topic button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-topic button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}